@model IEnumerable<ArenaGame.Models.Weapon>
@{
    ViewBag.Title = "Weapons";
}

<h2>Weapons</h2>

<input type="button" class="btn btn-success" value="Create" onclick="location.href='@Url.Action("Create")'" />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MinDamage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxDamage)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinDamage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxDamage)
            </td>
            <td>
                <input type="button" class="btn btn-warning btn-sm" value="Edit" onclick="location.href='@Url.Action("Edit", new { id = item.ID })'" /> | 
                <input type="button" class="btn btn-danger btn-sm" value="Delete" onclick="location.href='@Url.Action("Delete", new { id = item.ID })'" />
            </td>

        </tr>
    }
</table>