@model ArenaGame.Models.Weapon
@{
    ViewBag.Title = "Create";
}

<h2>Create a Weapon</h2>

@using (@Html.BeginForm("CreateWeapon", "Datatools"))
{
    <div class="row">
        <div class="col-md-5">Name:</div>
        <div class="col-md-7">@Html.TextBoxFor(x => x.Name)</div>
    </div>

    <div class="row">
        <div class="col-md-5">Price (in Gold):</div>
        <div class="col-md-7">@Html.TextBoxFor(x => x.Price)</div>
    </div>

    <div class="row">
        <div class="col-md-5">Damage:</div>
        <div class="col-md-3">@Html.TextBoxFor(x => x.MinDamage)</div>
        <div class="col-md-1"> to </div>
        <div class="col-md-3">@Html.TextBoxFor(x => x.MaxDamage)</div>
    </div>

    <div class="row">
        <div class="col-md-12"><input type="submit" value="Save" /></div>
    </div>
}
